.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 47px;
}

.profile__content {
  display: flex;
  justify-content: space-between;
}

.profile__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 25px;
}

.profile__header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.profile__name {
  margin: 0;
  font-family: Inter, Arial, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
}

.profile__bio {
  font-family: Inter, Arial, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.profile__button {
  background: none;
  box-sizing: border-box;
}

.profile__button:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: 0.3s;
}

.profile__button-edit {
  background-image: url(/images/edit.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  margin-top: 5px;
}

.profile__button-add {
  border-radius: 2px;
  border: 2px solid #fff;
  width: 150px;
  height: 50px;
  margin-bottom: 35px;
}

.profile__image {
  margin: 0 auto;
  border-radius: 50%;
  height: 127px;
}

@media screen and (max-width: 768px) {
  .profile {
    flex-direction: column;
    margin-bottom: 36px;
  }

  .profile__content {
    flex-direction: column;
    text-align: center;
  }

  .profile__heading {
    margin: 26px auto 36px 0;
  }

  .profile__name {
    font-size: 22px;
    line-height: 0.9;
  }
  .profile__bio {
    font-size: 14px;
    line-height: 0.8;
  }

  .profile__button-edit {
    width: 18px;
    height: 18px;
  }

  .profile__button-add {
    width: 282px;
    height: 50px;
    margin: 0 auto;
  }
}
