.modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100vh;
  margin: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}

.modal__opened {
  display: none;
}

.modal__container {
  width: 430px;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin: 0 auto;
  position: relative;
}

.modal__close-button {
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../images/addition.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  transform: rotate(-45deg);
  position: absolute;
  top: -12%;
  left: 100%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.modal__close-button:hover {
  opacity: 0.6;
}

.modal__header {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  color: #000000;
  margin-left: 36px;
  margin-right: 36px;
  margin-top: 34px;
}

.modal__form {
  overflow: hidden;
  width: 358px;
  margin: 54px 36px 36px 36px;
}

.modal__fieldset {
  margin: 0;
  border: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 29px;
}

.modal__form-input {
  outline: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #000000;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0;
  padding-bottom: 13px;
}

.modal__form-submit {
  margin-top: 48px;
  height: 50px;
  padding: 0;
  border: none;
  width: 100%;
  background: #000000;
  border-radius: 2px;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  cursor: pointer;
}

.modal__form-submit:hover {
  opacity: 0.8;
}

@media screen and (max-width: 598px) {
  .modal__container {
    width: 282px;
  }

  .modal__header {
    font-size: 18px;
    margin-left: 22px;
    margin-right: 22px;
    margin-top: 25px;
  }

  .modal__form {
    width: 238px;
    margin: 75px 22px 25px 22px;
  }

  .modal__form-submit {
    height: 46px;
  }

  .modal__close-button {
    left: 90%;
    margin-top: -14px;
    width: 26px;
    height: 26px;
  }
}
