.cards__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  justify-content: center;
  grid-gap: 20px 17px;
}

.cards__list-item {
  list-style: none;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.cards__list-image {
  width: 100%;
  height: 282px;
  cursor: pointer;
}

.cards__list-content {
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: space-between;
  padding: 25px 20px;
}

.cards__list-content-title {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: Inter, Arial, serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  max-width: calc(282px - 40px + 21px);
}

.cards__list-content-button {
  background: none;
  border: none;
  padding: 0;
}

.cards__list-content-button:hover {
  opacity: 0.5;
  cursor: pointer;
  transition: 0.3s;
}

.cards__like-button_active {
  background-image: url("../images/likebuttonactive.svg");
}

.cards__trash-button {
  padding: 0;
  margin: 0;
  width: 18px;
  height: 19px;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 15px;
}

.cards__trash-button:hover {
  opacity: 0.6;
  transition: 0.3s;
}
