.header {
  margin-bottom: 36.25px;
  max-width: 100%;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__logo {
  margin-top: 45px;
  padding-bottom: 41px;
}

@media screen and (max-width: 618px) {
  .header__logo {
    width: 126px;
    margin: 28px auto auto 27px;
    padding-bottom: 32px;
  }
}
