.page {
  background-color: #000000;
  color: #fff;
  font-weight: 400;
  max-width: 880px;
  margin: 0 auto;
}

@media screen and (min-width: 618px) {
  .page {
    padding-left: 10px;
    padding-right: 10px;
  }
}
